.form__textarea{
	width: 442px;
    padding: 14px !important;
    height: 220px;
    margin-bottom: 30px
}
.form__textarea::-webkit-input-placeholder {
	font-family: 'Titillium-Regular';
	font-size: 16px
}

.form__textarea:-ms-input-placeholder {
	font-family: 'Titillium-Regular';
	font-size: 16px
}

.form__textarea:-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}

.form__textarea::-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}