.grid__wrap-image{
	position: relative;
	background-color: #cdcdcd;
    width: 290px;
    height: 300px;
    cursor: pointer;
    display: block;
    margin-right: 15px;
}
.grid__wrap-image img{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}