body{
    background-color: #ecedee
}
.header, section{
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
	position: relative;
    background-color: #fff;
    width: 100%;
}
.header-wrap{
    background-color: #9da0a4;
    height: 80px
}
.header__logo{
    padding: 30px 0 25px 40px;
}
.header__nav{
    padding: 25px 40px 25px 0;
}
.header-wrap:after, .description:after, .gallery:after, .subscribe:after{
	display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    font-size: 0;
    content: ' ';
}
.mgt20px{
    margin-top: 20px
}

