.provide__review-right{
	font-family: 'TitilliumWeb-Italic';
	font-size: 19px;
	margin-bottom: 25px;
	text-align: left;
}
.provide__review-right:before{
	content: "";
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    background: url(staff.png) no-repeat;
    top: 78px;
    left: -95px;
}